<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
</head>
<body>
<p>Je suis
{{contact.firstname}}
{{contact.lastname}},
</p>
<p>
J'aimerai avoir des renseignements sur le Gite
{{contact.gite.name}} - id n° {{contact.gite.id}}
</p>
<p>
Vous pouvez me contacter ici:
<ul>
<li>émail: {{contact.email}}</li>
<li>Tél: {{contact.phone}}</li>
</ul>
</p>
</body>
</html>