{% extends "base.html.twig" %}
{% block title %}Dashboard Gite{% endblock %}
{% block body %}<h1 class="mt-5 mb-4">Administration des gites PROGICA</h1>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        <p>{{ message }}</p>
    </div>
{% endfor %}
<a href="{{path('admin.new')}}" class="btn btn-warning">Créer</a>
<div clas="row">
<table class="table table-stripped">
<thead>
<th>#id</th>
<th>Nom</th>
<th>Action</th>
</thead>
<tbody>
{% for gite in gites %}
<tr>
<th>#{{gite.id}}</th>
<th>{{gite.name}}</th>
<th><a href="{{path('admin.edit', {"id":gite.id})}}" class= "btn btn-primary">Editer</a> <a href="{{path('admin.delete', {"id":gite.id})}}" class= "btn btn-danger"  onclick="return confirm('Attention ceci va supprimer le gite selectioné')">Supprimer</a></th>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
