{% extends "base.html.twig" %}
{% block title %} Le gite {% endblock %}
{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
<div class="col-auto">
<div class="container-fluid py-5">
<h1 class="display-5 fw-bold">{{ gite.name }}</h1>
<p class="fs-4">{{ gite.description }}</p>
<button class="btn btn-success" id="contact">Contact</button>
<div class="form-contact hidden">
{{form_start(form)}}
{{form_rest(form)}}
<button type="submit" class="btn btn-primary mt-3">Envoyer </button>
{{form_end(form)}}
</div>

</div>
</div>
</div>
<div class="row">
</div>
<div class="row">
<div class="col-md-6">
{% if gite.imageName %}
<img src="{{ vich_uploader_asset(gite, 'imageFile') }}" class="card-img-top" alt="{{ gite.name }}">
{% else %}
<img src="images/img/home.jpg" class="card-img-top" alt="{{ gite.name }}">
{% endif %}
</div>
<div class="col-md-6">
<h2>Détails du gite:</h2>
<table class="table table-striped">
<tbody>
<tr>
<th>Surface</th>
<td>{{gite.surface}}</td>
</tr>
<tr>
<th>Chambre</th>
<td>{{gite.bedrooms}}</td>
</tr>
<tr>
<th>Animaux</th>
{% if gite.animals %}
<td>Accepter</td>
{% else %}
<td>Refuser</td>
{% endif %}
</tr>
<tr>
<th>Equipements</th>
<td>
<ul>{% for eq in gite.equipements %}
<li>{{eq.name}}</li>
{% endfor %}
</ul>
</td></tr>
</tbody>
</table>
</div>
<div class="col-md-6">
</div>
</div>
{% endblock %}